/**
/// Avenir Black
**/
@font-face {
    font-family: 'Avenir-Black';
    src:  url('../fonts/Avenir-Black/Avenir-Black.ttf') format('truetype'),
          url('../fonts/Avenir-Black/Avenir-Black.woff') format('woff'),
          url('../fonts/Avenir-Black/Avenir-Black.woff2') format('woff2'),
          url('../fonts/Avenir-Black/Avenir-Black.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}
