// Animations
@import 'animations';

// Fonts
@import 'fonts';

// Variables
@import 'variables';

html, body {
  height: 100%;
  margin: 0;
  overflow: scroll;
}

// * {
//   border: 1px solid;
// }
